<div>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-xs">
        <div class="container">
            <a href="#"><img class="imgLogo" src="../../assets/img/G Logotipo.png" alt="Logotipo Gabriel Faria"></a>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" > Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" > Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" > Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" > Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" > <a href="#"><img class="imgRSocial" src="../../assets/img/git icon.png" alt="Logotipo Gabriel Faria"></a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" > <a href="#"><img class="imgRSocial" src="../../assets/img/sociallinkedin_member_70.png" alt="Logotipo Gabriel Faria"></a></a>
                    </li>
                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Dropdown<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Ação</a></li>
                          <li><a href="#">Outra ação</a></li>
                          <li><a href="#">Qualquer coisa</a></li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">Outra categoria</li>
                          <li><a href="#">Link separado</a></li>
                          <li><a href="#">Outro link separado</a></li>
                        </ul>
                      </li>
                </ul>
            </div>
        </div>                
    </nav>
</div>
