<div >
    <p>Portifólio - Gabriel Faria / Contato: 
        <a href="https://www.linkedin.com/in/gabrielnunesfaria/" target="_blank" ><img class="imgRSocial" src="../../assets/img/sociallinkedin_member_70.png" alt="Linnkedin Gabriel Faria"></a>  
        <a href="https://github.com/GabrielFaria23" target="_blank"><img class="imgRSocial" src="../../assets/img/git icon.png" alt="GitHub GabrielFaria"></a>
        <a href="mailto:gabrielnunesfariapta@hotmail.com" target="_blank"><img class="imgRSocial" src="../../assets/img/sendmail.png" alt="GitHub GabrielFaria"></a>
    </p>
</div>