.sobre{    
    height: 1024px;
    width: 100%;
    padding-top: 100px;
    color: white;
    background-color: #212121;
}

.myImg{
    width: 1024px;
}

section img{
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 1%;
}

section p{
    margin-top: 1%;
    margin-left: 350px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    min-width: 177px;
}

h1{
    margin-left: 5%;
}

section{
    width: 90%;
    margin: 0 5%;
    min-width: 280px;
    height: 800px;    
    margin-top: 2%;
    border-style: double;
    border-color: white;    
}

.fa-github{
    color: white;
}

@media screen and (max-width: 1700px){
    section p{        
        font-size: 20px;
        line-height: 20px;
    }    
}

@media screen and (max-width: 1100px){
    section p{        
        font-size: 16px;
        line-height: 16px;
        margin-left: 300px;
    }
    section img{
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 780px){
    section p{        
        font-size: 13px;
        line-height: 13px;
        margin-left: 270px;
    }
}

@media screen and (max-width: 600px){
    section p{        
        font-size: 12px;
        line-height: 10px;
        margin-left: 100px;
    }
    section img{
        width: 150px;
        height: 150px;
    }
}