<div class="sobre">    
    <section>
        <h1>Sobre</h1>
        <img src="../../assets/img/myphoto.jfif" alt="Minha Imagem">
        <hr>
        <p><i class="fa fa-arrow-right"></i> Desde minha gradução meu principal foco de estudo é sobre Spring Boot e Angular,
        pois são tecnologias muito utilizadas no mercado de trabalho e eu gosto muito de trabalhar com elas.</p>
        <p><i class="fa fa-arrow-right"></i> Ja participei de alguns cursos envolvendo essas tecnologias, onde pude adquirir 
            muito conhecimento e aprender sobre diversos recursos que esses frameworks oferecem, como por exemplo:<br><br> <b>Spring Boot</b>: Arquitetura MVC, simular
            banco de dados com o H2, utilização do Hibernate para consultar, deletar, inserir e atualizar dados do banco,
            Utilização de DTO's, usar postman para testar requisições, testes unitarios, etc.<br>
            <br><b>Angular:</b> requisições para o back-end utilizando o protocolo http, compartilhamento de componentes, ngRx
            , um pouco sobre angular Material, Animations, fontawesome, bootstrap, HTML, CSS,  etc.
        </p>
        <p>
            Todos os projetos que desenvolvi ou participei em cursos e tutoriais eu coloco no meu GitHub, voce pode fazer uma consulta mais detalhada clicando aqui ->
            <a href="#git"><i class="fa fa-github"></i></a>
        </p>
        <p><i class="fa fa-arrow-right"></i> Além das linguagens Java e Typescript também tenho um pouco de conhecimento em python, c++ e javascript.</p>
        <p><i class="fa fa-arrow-right"></i> Meu nível de inglês é intermediario, estou aprendendo esse idioma a aproximadamente 10 meses.</p>
        <p><i class="fa fa-arrow-right"></i> No meu tempo livre gosto muito de jogar e de assistir series.</p>
    </section>
</div>