<div class="contato">
    <section>
        <h1>Contato</h1>
        <hr>
        <p>Esse foi o meu Portifólio, espero muito que tenha gostado, caso queira me contratar para algum trabalho entre em contato comigo atravez do meu LinkedIn               
            ou me mande um email!<br> <a href="https://www.linkedin.com/in/gabrielnunesfaria/" target="_blank" ><img class="imgRSocial" src="../../assets/img/sociallinkedin_member_70.png" alt="Linnkedin Gabriel Faria">  | 
            </a> <a href="mailto:gabrielnunesfariapta@hotmail.com" target="_blank"><img class="imgRSocial" src="../../assets/img/sendmail.png" alt="GitHub GabrielFaria"></a>

        </p>
    </section>
</div>