.image-background{
    width: 100%;
    background-image: url("../assets/img/notebook-1280538_1920.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

p{
    width: 50%;
    height: 30%;
    margin: 0 25%;
    margin-top: 250px;
    background-color: #212121;
    color: white;
    padding: 10px;
    text-align: center;
    min-width: 220px;
    box-shadow: 5px 5px 5px 5px #0e0e0e;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
}

@media screen and (max-width: 1200px){
    p{
        font-size: 20px;
        line-height: 25px;
    }   
}

@media screen and (max-width: 900px){
    p{
        font-size: 18px;
        line-height: 22px;
    }   
}

@media screen and (max-width: 600px){
    p{
        font-size: 15px;
        line-height: 20px;
    }   
}

@media screen and (max-width: 280px){
    p{
        margin-left: 10%;
        margin-right: 10%;
        width: 30%;
        font-size: 15px;
        line-height: 15px;
    }
}