.git{
    height: 1300px;
    width: 100%;
    min-width: 280px;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    background-color: #141414;
}

section{
    width: 80%;
    margin: 0 10%;
    min-width: 220px;
    height: 1000px;    
    margin-top: 2%;
    background-color: #212121;
    box-shadow: 5px 5px 5px 5px #0e0e0e; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin-left: 5%;
}

img:hover{
    -moz-opacity: 0.5;
	opacity: 0.5 ;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter: alpha(opacity=50); 	
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; 
    transition: 0.1s;
}

.carousel{
    width: 90%;
    height: 80%;
    margin: 5% 5%;
    min-width: 20px;
    margin-top: 2%; 
}

#buttonRepositories{
    width: 50%;
    margin: 0 25%;
}

@media screen and (max-width: 1250px){
    .git{
        height: 750px;
    }

    section{
        height: 650px;
    }
    
    #buttonRepositories{
        width: 50%;
        margin: 0 25%;
        font-size: 10px;
    }  
    .carousel{
        font-size: 8px;
    }
}

@media screen and (max-width: 1000px){
    .git{
        height: 650px;
    }

    section{
        height: 500px;
    }
    
    #buttonRepositories{
        width: 50%;
        margin: 0 25%;
        font-size: 10px;
    }  
    .carousel{
        font-size: 8px;
    }
}

@media screen and (max-width: 768px){
    .git{
        height: 600px;
    }

    section{
        height: 400px;
    }
    
    #buttonRepositories{
        width: 40%;
        margin: 0 30%;
        font-size: 10px;
    }  
}

@media screen and (max-width: 520px){
    .git{
        height: 500px;
    }

    section{
        height: 280px;
    }
    
    #buttonRepositories{
        width: 40%;
        margin: 0 30%;
        font-size: 10px;
    }  
}

@media screen and (max-width: 300px){
    .git{
        height: 310px;
    }

    section{
        height: 210px;
    }
    
    #buttonRepositories{
        width: 40%;
        margin: 0 30%;
        font-size: 10px;
    }
}
