<div class="git">
    <h1>GitHub</h1>                
    <div class="responsive">
        <div id="carouselGit" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselGit" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselGit" data-bs-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <a href="https://github.com/GabrielFaria23/portfolio"><img class="d-block w-100" src="../../assets/img/portifolio.png" alt="First slide"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Portifólio</h5>
                    <p>Clique na imagem para ver o codigo fonte desse portfolio no meu GitHub</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <a href="https://github.com/GabrielFaria23/project_person_product_and_order_management"><img class="d-block w-100" src="../../assets/img/OrderManager.png" alt="Second slide"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Gerenciador de Pedidos</h5>
                    <p>Uma aplicação simples de gerenciamento de pedidos com CRUD de Pessoas, Produtos e Pedidos</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselGit" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselGit" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>