.git{
    padding-top: 100px;
    height: 1110px;
    width: 100%;
    color: white;
    background-color: #212121;
}

.responsive{
    bottom: 100px;
}

h1{
    margin-left: 5%;
}

img:hover{
    -moz-opacity: 0.5;
	opacity: 0.5 ;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter: alpha(opacity=50); 	
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; 
    transition: 0.1s;
}

.carousel{
    width: 90%;
    margin: 0 5%;
    bottom: 5%;
    min-width: 280px;
    margin-top: 2%; 
}

@media screen and (max-width: 1400px){
    .git{
        height: 900px;
    }
}

@media screen and (max-width: 800px){
    .git{
        height: 600px;
    }
}
